.button {
  outline: none;
}

.custom_btn {
  height: 40px;
  border: 2px solid #000;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.button_register {
  overflow: hidden;
  transition: all 0.3s ease;
}

.button_register:hover {
  background: #000;
  color: #fff;
}

.button_register:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  //width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}

.button_register:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
  -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
  inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn11 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

.stroke {
  margin: 0 auto;
}

nav.stroke ul {
  list-style: none;
  text-align: center;
}

nav.stroke ul li {
  display: inline-block;
}

nav.stroke ul li a {
  display: block;
  text-decoration: none;
  color: #aaa;
  text-transform: uppercase;
}

nav.stroke ul li a,
nav.stroke ul li a:after,
nav.stroke ul li a:before {
  transition: all 0.5s;
}

nav.stroke ul li a:hover {
  color: #555;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}